* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1EBFC1;
    --media-background-color: #FEFEFD;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* =================== common ===================*/

a {
    text-decoration: none;
}

.main-content {
    margin: 0 auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}

.btn {
    display: inline-block;
    min-width: 186px;
    line-height: 68px;
    text-align: center;
    border-radius: 14px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

.btn:hover {
    opacity: 0.8;
}

.detail {
    color: #0D1111;
    font-size: 1rem;
    font-weight: 500;
    line-height: normal;
}

.heading-lv2 {
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: normal;
}

/* =================== header ===================*/

.header {
    padding: 52px 0px 8px;
    background-color: #fff;
}

.header.fixed {
    z-index: 1;
    position: sticky;
    top: -44px;
}

.header .body {
    display: flex;
    align-items: center;
    height: 48px;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
}


.header .nav a {
    padding: 8px 19.5px;
    color: #2F3A3B;
    font-size: 1.6rem;
}

.header .nav li.active a,
.header .nav li a:hover,
.header .sign-btn .sign-in:hover {
    text-shadow: 1px 0 0 currentColor;
}

.header .sign-btn .sign-in {
    padding: 8px 24px 8px 157.5px;
    color: #2F3A3B;
    font-size: 1.6rem;
}

.header .sign-btn .sign-up {
    padding: 12px 24px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
}

.header .sign-btn .sign-up:hover {
    color: #fff;
    background-color: var(--primary-color);
    transition: background-color 0.4s;
}

/* =================== hero ===================*/

.hero {
    padding: 42px 0 79px;
    display: flex;
}

.hero .body {
    display: flex;
}

.hero .content-block {
    margin-top: 93px;
    width: 50%;
}

.hero .label {
    color: #767E7E;
    font-size: 1.4rem;
}

.hero .title {
    margin-top: 18px;
    color: #0D1111;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.16;
}

.hero .desc {
    margin-top: 46px;
    max-width: 374px;
    color: #9DA6A5;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero .action {
    margin-top: 52px;
    display: flex;
}

.hero .action .watch-video {
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 62px;
    border-radius: 62px;
    background: #FFF;
    box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
}

.hero .action .watch-video:hover {
    background: #eee;
    box-shadow: 0px 0px 0px 0px rgba(196, 26, 134, 0.5);
    color: #fff;
    transition: 0.5s;
}

.hero .media-block {
    width: 50%;
    position: relative;
}

.hero .media-block .img {
    width: 585px;
    height: 631px;
    border-radius: 25px;
}

.hero .media-course {
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: var(--media-background-color);
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: 149px;
    left: -40px;
}

.hero .media-course .icon {
    position: relative;
}

.hero .media-course .icon2 {
    position: absolute;
    bottom: 8px;
    left: 4px;
    right: 4px;
}

.hero .media-course .detail {
    width: 55px;
}

.hero .media-schedule {
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: var(--media-background-color);
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    text-align: center;
    position: absolute;
    top: 453px;
    left: -65px;
}

.hero .media-schedule .detail {
    display: inline-block;
    margin: 16px 25px 0;
}

.hero .media-schedule .icon img {
    display: block;
}

.hero .media-schedule .icon .img-1 {
    margin: 16px 25px 0;
}

.hero .media-schedule .icon .img-2 {
    margin: 12px 25px 0;
}

.hero .media-schedule .icon .img-3 {
    margin: 10px 25px 0;
}

.hero .media-schedule .icon .img-4 {
    margin: 16px 49px 0;
}

.hero .media-avatar {
    width: 207px;
    height: 90px;
    border-radius: 24px;
    background-color: var(--media-background-color);
    position: absolute;
    top: 500px;
    left: 324px;
}

.hero .media-avatar .detail {
    display: inline-block;
    margin: 17px 35px 0;
}

.hero .media-avatar .avatar {
    display: flex;
    margin: 8px 35px 0 42px;
}

.hero .media-avatar .avatar img,
.hero .media-avatar .avatar .avatar-more {
    margin-left: -7px;
    width: 33px;
    height: 33px;
    border-radius: 33px;
}

.hero .media-avatar .avatar .avatar-more {
    background-color: var(--primary-color);
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    line-height: 33px;
}

/* =================== features ===================*/

.features {
    margin-top: 65px;
    padding: 65px 0;
}

.features .body {
    max-width: 1024px;
}

.feature-intro {
    max-width: 590px;
}

.feature-intro .label {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.feature-intro .heading-lv2 {
    margin-top: 18px;
    line-height: 1.33;
}

.feature-intro .desc {
    margin-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
    line-height: normal;
}

.feature-list {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.feature-list .ft-item .title {
    margin-top: 26px;
}

.feature-list .ft-item .title a {
    color: #0D1111;
    font-size: 2rem;
    font-weight: 600;
    line-height: normal;
}

.feature-list .ft-item .desc {
    margin-top: 16px;
    color: #9DA6A5;
    font-size: 1.6rem;
    line-height: 1.69;
}

.feature-list .ft-item.item1 {
    max-width: 168px;
}

.feature-list .ft-item.item2 {
    max-width: 223px;
}

.feature-list .ft-item.item3 {
    max-width: 224px;
}

/* =================== features ===================*/

.course {
    margin-top: 10px;
    padding: 60px 0;
}

.course-intro .label {
    color: #767E7E;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: normal;
}

.course-intro .title {
    margin-top: 18px;
    color: #0D1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: normal;
}

.course-intro .row-top {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-intro .row-top .desc {
    max-width: 525px;
    color: #767E7E;
    font-size: 1.8rem;
    line-height: 1.78;
}

.course-intro .row-top .more-course {
    color: #1EBFC1;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: normal;
    text-decoration: underline;
}

.course-list {
    margin-top: 79px;
    padding-bottom: 124px;
    display: flex;
    justify-content: space-between;
}

.course-item {
    position: relative;
}

.course-item .img {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    object-fit: cover;
    opacity: 0.35;
}

.course .info {
    padding: 18px 0 29px 25px;
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: -124px;
    left: 17px;
    right: 17px;
}

.course .info .title a {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.course .info .price {
    margin-top: 16px;
    color: #767E7E;
    font-size: 1.6rem;
    line-height: normal;
}

.course .info .price strong {
    color: #0D1111;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: normal;
}

.course .info .desc {
    margin-top: 6px;
    color: #9DA6A5;
    font-size: 1.4rem;
    line-height: normal;
}

.course .info .static {
    margin-top: 18px;
}

.course .info .static span {
    color: #9DA6A5;
    font-size: 1.4rem;
    line-height: normal;
}

.course .info .static span +span {
    padding-left: 10px;
}

.course .info .static span::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

/* =================== cowndown ===================*/

.countdown {
    margin-top: 140px;
    padding: 65px 0;
}

.countdown .body {
    margin: 0 auto;
    max-width: 862px;
}

.countdown .body .countdown-list {
    display: flex;
    justify-content: space-between;
}

.countdown-list .cd-item strong {
    color: #0D1111;
    text-align: center;
    font-size: 6.2rem;
    font-weight: 700;
    line-height: normal;
}

.countdown-list .cd-item .desc {
    margin-top: 11px;
    color: #767E7E;
    text-align: center;
    font-size: 1.8rem;
    line-height: normal;
}

/* =================== feedback ===================*/

.feedback {
    margin-top: 135px;
    padding: 65px 0;
}

.feedback .body {
    position: relative;
}

.feedback .body .quote-icon {
    margin-top: 37px;
}

.feedback .body .comment {
    margin-top: 27px;
    max-width: 419px;
    color: #5D6564;
    font-size: 3.2rem;
    line-height: 1.5;
}

.feedback .body .desc {
    margin-top: 33px;
    color: #767E7E;
    font-size: 1.6rem;
    line-height: normal;
    display: flex;
    align-items: center;
}

.feedback .body .desc strong {
    color: #070707;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: normal;
}

.feedback .body .desc::before {
    content: "";
    margin-right: 5px;
    display: inline-block;
    width: 8px;
    height: 2px;
    background-color: #070707;
}

.feedback .body .controls {
    margin-top: 52px;
    margin-bottom: 37px;
    display: flex;
    gap: 30px;
}

.feedback .controls .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2AC9BF;
    border: none;
    cursor: pointer;   
}

.feedback .controls .control-btn:hover {
    opacity: 0.9;
    border: 1px solid rgba(207, 20, 195, 0.219);
    transition: 0.5s;
}

.feedback .body .fb-ava {
    border-radius: 50%;
    object-fit: cover;
}

.feedback .body .fb-ava1 {
    width: 92px;
    height: 92px;
    position: absolute;
    top: 0;
    left: 635px;
}

.feedback .body .fb-ava2 {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 19px;
    left: 1060px;
}

.feedback .body .fb-ava3 {
    width: 235px;
    height: 235px;
    position: absolute;
    top: 107px;
    left: 764px;
}

.feedback .body .fb-ava4 {
    width: 78px;
    height: 78px;
    position: absolute;
    top: 258px;
    left: 491px;
}

.feedback .body .fb-ava5 {
    width: 78px;
    height: 78px;
    position: absolute;
    top: 403px;
    left: 703px;
}

.feedback .body .fb-ava6 {
    width: 78px;
    height: 78px;
    position: absolute;
    top: 374px;
    left: 1060px;
}

/* =================== admit ===================*/

.admit {
    margin-top: 65px;
    padding: 76px 0 88px;
    background-color: #DEF6F5;
}

.admit .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1016px;
}

.admit .body .intro .desc {
    margin-top: 18px;
    color: #767E7E;
    font-size: 1.8rem;
    line-height: normal;
}